# 依赖目录
node_modules/

# 构建产物
dist/
#types/
#workers/
*.local
stats/
coverage/

# 日志
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# 编辑器目录和文件
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
.cursor

# 环境变量
.env
.env.*
!.env.example

# 临时文件
.temp/
.tmp/
.cache/

# 用户特定文件
*.local.md 